* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat","Courier", monospace;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  font-weight: 400;
}

.main-title {
  font-size: 70px;
  line-height: 78px;
  text-align: center;
  padding: 220px 0px 110px 0px;
}

.catalog-product-card {
  margin: auto;
  width: 1100px;
  background-image: url("images/flowers.png");
  background-position: left-top;
  background-repeat: no-repeat;
  background-size: 790px;
}

.product-card-list {
  list-style: none;
  display: flex; 
  margin-bottom: 116px;
  gap: 45px;
  flex-wrap: wrap;
  justify-content: center;
  width: 1110px;
}

.product-card {
  width: 340px;
  height: 573px;
  padding: 25px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px rgba(81, 80, 118, 0.1);
}

.bg-green {
  background-color: green;
}

.bg-blue {
  background-color: blue;
}

.bg-red {
  background-color: red;
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
  display: block;
  margin-top: 30px;
  margin-bottom: 5px;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-top: 5px;
}

.product-description {
  margin-bottom: 15px;
}

.product-compound {
  margin-top: 5px;
  list-style: circle;
  margin-bottom: 25px;
}

.product-compound-item {
  margin-left: 14px;
}

.product-price-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.product-price-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
}