* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", "Courier", monospace;
  line-height: 18px;
  font-weight: 400;
}

body {
  font-size: 13px;
  color: #515076;
}

.main-title {
  font-size: 70px;
  line-height: 78px;
  text-align: center;
  padding: 220px 0px 110px 0px;
}

.catalog-product-card {
  margin: auto;
  width: 1110px;
  background-image: url("images/flowers.png");
  background-position: left-top;
  background-repeat: no-repeat;
  background-size: 790px;
}

.product-card-list {
  list-style: none;
  display: flex;
  margin-bottom: 116px;
  gap: 45px;
  flex-wrap: wrap;
  justify-content: center;
  width: 1110px;
}

.product-card {
  width: 340px;
  height: 573px;
  padding: 25px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px rgba(81, 80, 118, 0.1);
}

.bg-green {
  background-color: green;
}

.bg-blue {
  background-color: blue;
}

.bg-red {
  background-color: red;
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
  display: block;
  margin-top: 30px;
  margin-bottom: 5px;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-top: 5px;
}

.product-description {
  margin-bottom: 15px;
}

.product-compound {
  margin-top: 5px;
  list-style: circle;
  margin-bottom: 25px;
}

.product-compound-item {
  margin-left: 18px;
}

.product-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
}

#product-cards-footer {
  padding: 1px 0 0 0;
  background-color: #3A3A3A;
  height: 477px;
}

#reference-info-container {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 147px;
  margin-left: 85px;
  margin-top: 85px;
  margin-right: 75px;
  color: white;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#information-product-cards-header {
  font-weight: 800;
  font-size: 28px;
}

#quick-links {
  font-weight: 500;
  font-size: 20px;
}

.subscribe {
  font-weight: 400;
  font-size: 24px;
  margin-left: 88px;
  margin-right: 39px;
}

.information-subscribe {
  margin-left: 132px;
  margin-right: 373px;
}

.input {
  margin-top: 13px;
  width: 477px;
  height: 61px;
}

#copyright {
  margin-top: 162px;
  text-align: center;
  color: white;
  position: relative;
  padding-top: 33px;
  font-size: 18px;
}

#copyright::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 66px;
  height: 1px;
  background: white;
}

.telegramm {
  margin-right: 30px;
}

#subscribe-form {
  margin-top: 13px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  height: 61px;
  background: white;
}

#subscribe-form input::placeholder {
  color: #000000BF !important;
}

#subscribe-form input {
  flex: 1;
  padding: 10px 15px;
  border: none;
  border-right: 1px solid black;
  font-weight: 500;
  font-size: 14px;
  outline: none;
  margin: 20px 0;
}

#subscribe-form button {
  padding: 10px 20px;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
}

#modal {
  z-index: 1000;
  border-radius: 5;
  width: calc(100% - 40px);
  max-width: 400px;
  border: none;
  padding: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#auth-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

#cross-exit {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: opacity 0.3s;
}

#registration-form {
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  margin-left: 20px;
  background-color: #000;
  color: white;
  padding: 25px;
  margin-bottom: 25px;
}

h1 {
  font-size: 18px;
  font-weight: 600;
}

.button-registration-form {
  border-radius: 9%;
  background: aliceblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
}

#registration-form label {
  font-size: 15px;
  font-weight: 400;
}

 #overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  cursor: pointer;
}

#modal[open]~#overlay {
  display: block;
} 